<div>
    <p class="title">{{ post.title }}</p>
    <p class="content">{{ post.content }}</p>

    <div class="likes d-flex">
        <span>Likes: {{ likes.length }}</span>
        <button class="ml-auto" (click)="likePost()">Like!</button>
    </div>

    <p class="mt-2">Comments:</p>

    <ul>
        <li *ngFor="let comment of comments">
            <div>
                <div class="d-flex">
                    <span><strong>{{ comment.user.name }}</strong></span>
                    <span class="ml-auto"><em>- {{ comment.createdTime | date:'short' }}</em></span>
                </div>
                <p>"{{ comment.content }}"</p>
            </div>
        </li>
    </ul>

</div>