<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <span>Logged in as: {{ currentUser.name }}</span>
    <button class="ml-3" (click)="signOut()">Sign out</button>
  </nav>
</header>

<div class="whiteboard" (dragover)="dragOver($event)" (drop)="drop($event)">
  <div class="post" *ngFor="let post of posts" draggable="true" (dragstart)="dragStart($event, post)" (dragover)="dragOver($event)" (drop)="drop($event)" [ngStyle]="{'top': post.top + 'px', 'left': post.left + 'px'}">
    <app-post [post]="post"></app-post>
  </div>
</div>